<div class="container">
    <p class="display-6 fw-bold">
        ¡Bienvenido!<br /> Inicia sesion para ver tu carrito y tus facturas
    </p>
    <form class="form-floating" (ngSubmit)="login()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input required type="email" placeholder="example@example.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input required type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn">Submit</button>
        <br/>
        <br/>
        <br/>
        <p class = "display-7">
            ¿No tienes una cuenta todavía? Registrate
        </p>
        <button type="button" class="btn btn-primary" [routerLink]="['/sign-up']">Registrate</button>
        <!-- <a [routerLink]="['/sign-up']">Account creation</a> -->
    </form>
</div>