<div class="container">
    <form class="form-floating" (ngSubmit)="login()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input required type="email" placeholder="example@example.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input required type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn">Submit</button>
        <br />
        <a [routerLink]="['/sign-up']">Account creation</a>
    </form>
</div>