<div *ngIf="isAdmin(); then thenTemplate else elseTemplate">
</div>

<ng-template #thenTemplate>
    <div class="container">
        <div class="row" *ngFor="let element of getAdminBills()">
            <app-bill-specific [bill]="element"></app-bill-specific>
        </div>
    </div>
</ng-template>

<ng-template #elseTemplate>
    <div class="container">
        <div class="row" *ngFor="let element of getUserBills()">
            <app-bill-specific [bill]="element"></app-bill-specific>
        </div>
    </div>
</ng-template>