<div id="{{product.id}}" class="container_product bg-light text-center text-white center-block">
    <div class="text-black product_info {{getSpecials()}}">
        <p class="product_name">
            {{getName()}}
        </p>
        <p class="product_description">
            {{getDescription()}}
        </p>
        <img class="image_product img-fluid rounded" src="{{getImageUrl()}}" />
        <p class="product_price">
            <b>{{getPrice()}}</b>
        </p>
    </div>
    <div *ngIf="userLogged()">
        <div *ngIf="isAdmin(); then thenTemplate else elseTemplate">
        </div>
    </div>
    
    <ng-template #thenTemplate>
        <a class="remove remove{{product.id}}">Remove</a>
    </ng-template>
    
    <ng-template #elseTemplate>
        <a class="add-cart cart{{product.id}}" href="#">Add to cart</a>
    </ng-template>