<div id="{{product.id}}" class="container_product bg-light text-center text-white center-block">
    <div class="text-black product_info {{getSpecials()}}">
        <p class="product_name">
            {{getName()}}
        </p>
        <p class="product_description">
            {{getDescription()}}
        </p>
        <img class="image_product img-fluid rounded" src="{{getImageUrl()}}" />
        <p class="product_price">
            <b>{{getPrice()}}</b>
        </p>
    </div>
    <a *ngIf="userLogged()" class="add-cart cart{{product.id}}" href="#">Add to cart</a>
</div>