.image_product {
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-color: blanchedalmond;
    border-style: dotted;
}

.container_product {
    padding: 1%;
    padding-top: 5% !important;
    border-color: white !important;
    border-style: dashed;
    border-radius: 5%;
}

.product_info {
    margin: 2% !important;
}

.product_name {
    font-size: x-large;
    font-weight: 600;
    text-shadow: 1%;
}

.product_description {
    color: rgb(97, 94, 94);
    font-weight: 200;
}