<div class="container-fluid ">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Dev Hoodies</h1>
        <div class="col-lg-10 mx-auto">
            <p class="lead mb-4">Bienvenidos a la mejor tienda para mostrar todas tus pasiones y talentos desde la comodidad de un hoodie
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let product of listaProductos">
                <app-product [product]="product"></app-product>
            </div>
        </div>
    </div>

    <div *ngIf="isAdmin()" class="containerf">
        <h4>Insertar Producto</h4>
        <form class="form-floating" (ngSubmit)="Create()">

            <div class="row">
                <div class="col-md-3">
                    <label for="id">ID</label>
                    <input type="text" id="id" name="ID" placeholder="" required>
                </div>
                <div class="col-md-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="Nombre" placeholder="" required>
                </div>
                <div class="col-md-3">
                    <label for="precio">Precio</label>
                    <input type="text" id="precio" name="Precio" placeholder="" value="" required>
                </div>
                <div class="col-md-3">
                    <label for="especiales">Especiales</label>
                    <input type="text" id="especiales" name="Especiales" placeholder="" value="" required>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" name="Descripcion" placeholder="" style="height:50px"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="img">URL Imagen</label>
                    <textarea id="img" name="Img" placeholder="" style="height:50px"></textarea>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </form>
    </div>
