<div class="container-fluid ">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">NOMBRE</h1>
        <div class="col-lg-10 mx-auto">
            <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, iusto? Quaerat nihil soluta 
                voluptatum quod voluptatibus sunt aperiam assumenda totam. Ipsam odio sapiente praesentium dolorem reiciendis 
                ipsum rerum quis modi?
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let product of products.products">
            <app-product [product]="product"></app-product>
        </div>
    </div>
</div> 
